*{
	margin:0 auto;
	padding:0;
}

body{
	margin:0 auto;
	padding:0;
	font-family:"宋体",Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#fcfcf3;
}

img{
	border:0;
}
ul li{
	list-style:none;
}

/* head */
.bbshead{
	margin-bottom:10px;
	width:958px;
	height:auto;
	overflow:hidden;
	background:#ffffff;
}
.bbslogo{
	width:958px;
	height:90px;
}
.logo{
	float:left;
	margin:0 10px;
	width:136px;
	height:90px;
}
.banner{
	float:left;
	margin:10px 0px 10px 20px;
	width:780px;
	height:68px;
	border:1px solid #000000;
}
.menu{
	margin-top:10px;
	padding:10px 15px 5px 15px!important;
	padding:8px 15px 0px 15px;
	width:926px;
	height:20px;
	border:1px solid #9fb7e7;
}
.mleft{
	float:left;
	width:800px;
}
.mright{
	float:left;
	width:120px;
}
.mleft a,.mright a{
	color:#000000;
	text-decoration:none;
}
/* top */
.bbstop{
	margin-bottom:10px;
	padding:10px 0;
	width:956px;
	height:auto;
	overflow:hidden;
	background:#ffffff;
	border:1px solid #9fb7e7;
}
.topnav{
	width:936px;
	height:20px;
}
.topnav a{
	color:#000000;
	text-decoration:none;
}
.topnav a:hover{
	text-decoration:underline;
}
.topnav img{
	margin:0 5px 0 10px;
	vertical-align:bottom;
}
.topage{
	margin-top:8px;
	padding:10px;
	width:936px;
	height:32px;
	border:1px solid #9fb7e7;
	background:#FFFFFF;
}
.page-l{
	float:left;
	margin-top:10px;
	width:696px;
	height:20px;
}
.page-l ul{
	margin:0;
	padding:0;
}
.page-l ul li{
	float:left;
	display:block;
	height:20px;
}
.page-l ul li a{
	margin-right:10px;
	padding:5px 8px;
	width:auto;
	height:15px;
	text-decoration:none;
	color:#000000;
	border:1px solid #cccccc;
}
.page-l ul li a:hover{
	background:#00C;
	color:#FFF;
	text-decoration:underline;
}
.page-r{
	float:left;
	width:240px;
	height:32px;
	text-align:right;
}
.input{
	width:20px;
	height:10px;
}

/* main */
.bbsmain{
	width:958px;
	height:auto;
	overflow:hidden;
}
.title{
	padding:8px 10px;
	width:936px;
	height:16px;
	background:url(../images/h.png);
	font-size:14px;
	color:#003366;
	font-weight:bold;
}
.title-left{
	float:left;
	width:450px;
	height:16px;
}
.title-right{
	float:right;
	minwidth:300px;
	height:auto;
	font-size:12px;
	color:#CC0000;
}
.title-right a{
	color:#003366;
}
.bbscontent{
	margin-top:8px;
	width:956px;
	height:auto;
	overflow:hidden;
	border:1px solid #9fb7e7;
	background:url(../images/dbj.gif);
}
.bbsreply{
	width:958px;
	height:auto;
	overflow:hidden;
	background:url(../images/dbj.gif);
}
.bcleft{
	float:left;
	width:194px;
	height:auto;
	overflow:hidden;
}
.bcleft ul{
	margin:0;
	padding:0;
}
.bcleft ul li{
	margin:5px 10px;
}
.liimg{
	paddimg:2px;
	width:100px;
	height:100px;
	border:1px solid #cccccc;
}
.bcright{
	float:left;
	width:752px;
	height:auto;
	overflow:hidden;
}
.righttr{
	padding:10px;
	width:732px;
	height:20px;
	border-bottom:1px dashed #cccccc;
}
.left-td{
	float:left;
	width:660px;
	height:20px;
}


.right-td{
	float:left;
	padding:3px 5px;
	width:59px;
	height:12px;
	font-weight:bold;
	text-align:center;
	background:#FFE9AF;
	border:1px solid #FFBA00;
}

.tdtext{
	padding:10px;
	width:732px;
	height:auto;
	overflow:hidden;
	line-height:1.8em;
}

.bbsflink{
	margin:10px;
	width:732px;
	height:auto;
	overflow:hidden;
	border-top:1px dashed #000000;
}
.fbanner{
	margin:10px;
	width:710px;
	height:auto;
	border:1px solid #003366;
}
.phome{
	margin:10px;
}
.reply{
	margin:10px;
	padding:10px;
	width:720px;
	height:10px;
	border:1px solid #9fb7e7;
	background:#fcfcf3;
}
.reply a{
	color:#000000;
	text-decoration:none;
}

.reply img{
	vertical-align:bottom;
}


/* posts */

.pmain{
/*	position:absolute;*/
	float:right;
	top:310px;
	left:800px;
	z-index:100;
	width:200px;
	height:210px;
	background:url(../images/jsbj1.gif);
	color:#003366;
}
.pcontent{
	padding:10px 15px 0 15px;
}
.pcontent ul{
	margin:0;
	padding0:0;
}
.pcontent ul li{
	margin:10px 0;
}
.pcontent ul li a{
	
	color:#000000;
}
.pmore{
	margin:10px 0 0 15px;
}
.pmore a{
	color:#CC0000;
}
.pmain img{
	position:relative;
	top:10px;
	left:175px;
}

/* index.html */
#indexhead{
	width:960px;
	height:auto;
	overflow:hidden;
	background:#ffffff;
}
.indexlogo{
	float:left;
	margin:5px 10px;
	_margin:5px 10px 5px 5px;
	width:136px;
	height:90px;
}
.indexsidebar{
	float:left;
	width:804px;
	height:103px;
}

.indexmenu{
	float:left;
	margin:0 0 5px 12px!important;
	margin:0 0 5px 5px;
	minwidth:548px;
	height:25px;
}
.indexmenu ul{
	margin:0;
	padding:0;
}
.indexmenu ul li{
	float:left;
	display:block;
}
.indexmenu ul li a{
	float:left;
	margin-left:5px;
	padding-top:5px;
	width:73px;
	height:20px;
	text-align:center;
	background:url(../images/menubj.gif);
	color:#000033;
	text-decoration:none;
}
.indexmenu ul li a:hover{
	width:73px;
	height:20px;
	background:url(../images/menub.gif);
}
.indexlogin{
	float:left;
	margin:10px 0 5px 0;
	width:244px;
	height:15px;

}
.indexlogin a{
	text-decoration:none;
	color:#006699;
}
.indexbanner{
	clear:left;
	margin:0 10px 8px 12px;
	width:780px;
	height:60px;
	border:1px solid #000000;
	background:url(../images/banner.jpg);
}


.indexnav{
	padding:10px;
	width:938px;
	height:12px;
	background:url(../images/bj.png);
	border:1px solid #9fb7e7;
}
.select{
	float:left;
	width:100px;
	height:22px;
}
.inleft{
	float:left;
	minwidth:500px;
	height:12px;
}
.inright{
	float:right;
	minwidth:270px;
	height:12px;
	text-align:right;
}
.inright a{
	text-decoration:none;
	color:#000;
}
.submit{
	width:52px;
	height:20px;
	background:url(../images/054.gif) no-repeat;
	border:0;
}

/* indexmain */
#indexmain{
	margin-top:5px;
	width:958px;
	height:198px;
	border:1px solid #9fb7e7;
	background:#ffffff;
}
.indexmain{
	margin-top:5px;
	width:958px;
	height:auto;
	overflow:hidden;
	border:1px solid #9fb7e7;
	background:#ffffff;
}
.dynamic{
	margin-top:5px;
	padding:10px;
	width:938px;
	height:10px;
	border:1px solid #9fb7e7;
	background:#ffffff;
	color:#666666;
}
.dynamic a{
	text-decoration:none;
	color:#990033;
	font-weight:bold;
}
.newsimg{
	float:left;
	margin:8px!important;
	margin:8px 12px 8px 3px;
	width:301px;
	height:182px;
	border:1px solid #cccccc;
}
.newpost{
	float:left;
	margin:8px;
	width:304px;
	height:184px;
	overflow:hidden;
}
.postnav{
	padding:8px 0;
	color:#FF3300;
	font-weight:bold;
}
.newpost ul,.newreply ul{
	margin:0;
	width:280px;
}
.newpost ul li,.newreply ul li{
	padding:5px 0;
	border-bottom:1px dotted #cccccc;
}
.newpost ul li a,.newreply ul li a{
	text-decoration:none;
	color:#000000;
}
.newreply{
	float:left;
	margin:8px 0 8px 8px;
	width:300px;
	height:184px;
	overflow:hidden;
}
.red{
	color:#ff0000;
	font-weight:bold;
}

.tag{
	float:left;
	margin-top:5px;
	padding:8px 10px 5px 10px;
	width:475px;
	height:20px;
}
.search{
	float:left;
	padding:7px 10px 8px 0;
	width:450px;
	height:20px;
}
.postimg{
	float:left;
	margin:5px 10px 0 20px;
}

.announcement{
	float:left;
	padding:5px 10px 0 10px;
	width:678px;
	height:15px;
}
.announcement img{
	margin-right:5px;
	vertical-align:text-bottom;
}
.announcement a{
	text-decoration:none;
	color:#000000;
}
.radio{
	vertical-align:middle;
}
.text{
	width:170px;
	height:15px;
}

/* list.html */

.subnav{
	padding:10px 15px;
	width:928px;
	height:12px;
	background:url(../images/bj.png);
	border-bottom:1px solid #9fb7e7;
}
.sub-left{
	float:left;
	width:908px;
	height:12px;
}
.sub-right{
	float:left;
	width:20px;
	height:12px;
	text-align:right;
}
.trborder{
	border-bottom:1px solid #c5d8e8;
	background:url(../images/navbj.gif);
}
.trborder1{
	padding:10px;
	width:938px;
	height:11px;
	border-bottom:1px solid #c5d8e8;
	background:url(../images/h.png);
}
.trbd{
	border-bottom:1px solid #c5d8e8;
}
.tdccc{
	padding:5px;
	line-height:1.2em;
	border-bottom:1px solid #c5d8e8;
	border-left:1px solid #c5d8e8;
	color:#8b8b8b;
}
.tdccc a{
	color:#000000;
	text-decoration:none;
}
.td000{
	color:#000000;
}
.tdccc a:hover{
	text-decoration:underline;
	color:#FF3300;
}
.tdccc img{
	margin-right:5px;
	vertical-align:middle;
}
.tdred{
	font-weight:bold;
	color:#FF3300;
	border-bottom:1px solid #c5d8e8;
	border-left:1px solid #c5d8e8;
	border-right:1px solid #c5d8e8;
}
.tdred1{
	font-weight:bold;
	color:#FF3300;
	border-bottom:1px solid #c5d8e8;
	border-right:1px solid #c5d8e8;
}
.tdimg{
	font-weight:bold;
	color:#FF3300;
	border-bottom:1px solid #c5d8e8;
	border-left:1px solid #c5d8e8;
}
.green{
	font-weight:bold;
	color:#a800ff;
}

/* Quick reply */
.t-left{
	float:left;
	padding:10px;
	width:180px;
	height:auto;
	overflow:hidden;
	line-height:1.8em;
}
.t-conter{
	float:left;
	padding:10px 0;
	width:508px;
	height:auto;
	overflow:hidden;
}
.t-c-right{
	padding-right:25px;
	text-align:right;
}
.t-right{
	float:left;
	margin:15px 5px 15px 10px;
	padding:10px;
	width:213px;
	height:auto;
	overflow:hidden;
	border:1px solid #CFDFFF;
}
.checkbox{
	vertical-align:middle;
	margin-right:5px;
}

.expimg img{
	margin:5px 10px;
}

.textarea{
	margin:5px 0;
	width:480px;
	height:120px;
}
.qkreplytext{
	width:300px;
	height:15px;
}
.qkreplytext1{
	margin-bottom:5px;
	width:100px;
	height:15px;
	vertical-align:middle;
}
/* indexfoot */
#indexfoot{
	margin-top:8px;
	padding:10px;
	width:938px;
	height:40px;
	line-height:1.8em;
	border:1px solid #9fb7e7;
	background:#ffffff;
}
.footleft{
	float:left;
	padding-top:10px;
	width:50px;
	height:30px;
}
.footright{
	float:left;
	width:888px;
	height:40px;
}
.footright a{
	text-decoration:none;
	color:#003366;
}
.footright a:hover{
	text-decoration:underline;
}

/* published.html */

.pdtable{
	margin:10px 0;
}
.pdtd{
	padding-right:10px;
}

.pdtextarea{
	width:600px;
	height:200px;
}
.pdtext{
	width:300px;
	height:20px;
}

/* search.html */
.shmain{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	padding:15px 60px;
	width:530px;
	height:auto;
	overflow:hidden;
	border:1px solid #ceecff;
	background:#e7f6ff;
}
.keyword{
	padding-right:10px;
	font-size:14px;
	font-weight:bold;
}
.shmain a{
	color:#000000;
	text-decoration:none;
}
.shmain ul{
	margin:0;
	padding:0;
}
.shmain ul li{
	margin:10px 0;
}
/* control.html */
.controlmain{
	width:960px;
	height:auto;
	overflow:hidden;
	background:#ffffff;
}
.controlleft{
	float:left;
	width:180px;
	height:auto;
	overflow:hidden;
}
.controlleft dt{
	margin-top:8px;
	padding:8px 0 8px 10px;
	width:168px;
	height:13px;
	background:url(../images/dtbj.gif);
	border:1px solid #bde5ff;
	color:#FFF;
}
.controlleft dd a{
	padding:8px 0 8px 20px;
	display:block;
	width:156px;
	height:10px;
	text-decoration:none;
	background:url(../images/ddbj.gif);
	color:#000;
	border-bottom:1px solid #bde5ff;
	border-left:1px solid #bde5ff;
	border-right:1px solid #bde5ff;
}
.controlleft dd a:hover{
	text-decoration:underline;
	background:#ffe8a1;
}
.clbj{
	background:#FFF;
}
.controlright{
	float:left;
	margin:8px 0 0 10px;
	width:770px;
	height:auto;
	overflow:hidden;
}

.climg{
	padding:10px 0;
	border-top:1px solid #bde5ff;
	border-left:1px solid #bde5ff;
}
.clnavtd{
	padding:10px 0  0 10px;
	line-height:1.5em;
	border-top:1px solid #bde5ff;
	border-right:1px solid #bde5ff;
}
.clnavtr{
	padding-left:30px;
	background:url(../images/ddbj.gif);
	border-top:1px solid #e6f5ff;
	border-bottom:2px solid #bde5ff;
	border-left:1px solid #bde5ff;
	border-right:1px solid #bde5ff;
}
.idtd{
	padding:0 20px;
	border-bottom:1px solid #dcf1ff;
	border-left:1px solid #bde5ff;
	line-height:1.3em;
}
.idtd1{
	padding-left:20px;
	border-bottom:1px solid #dcf1ff;
	border-left:1px solid #bde5ff;
	border-right:1px solid #bde5ff;
}
.gray{
	color:#bbbbbb;
}