


.h_caption {
	 margin: 0 0 12px 0;
	  font-size: 1.64em; 
	  font-weight: normal; 
}
.tips_box { 
	padding: 10px; 
	text-align: center;
	font-weight: normal; 
	font-size: 1.28em;
}
.tips_box2 { 
	padding: 10px; 
	text-align: left;
	font-weight: normal; 
	font-size: 1.28em;
}
.tips_box .op {
	 margin-top: 12px; 
	 text-align: center; 
}



.message_bar li{ float:left; padding:0px 5px;}

