.m_li_top {
	position: relative;
	line-height: 15px;
	z-index: 10000;
}

.submenu {
	z-index: 999;
	position: absolute;
	left: 0px;
	top: 13px;
	white-space: nowrap;
	margin: 0;
	background: #fff;
	border: 1px solid #7AADC8;
	display: none;
}

.submenu2 {
	z-index: 999;
	position: absolute;
	left: 0px;
	top: -75px;
	white-space: nowrap;
	margin: 0;
	background: #fff;
	border: 1px solid #7AADC8;
	display: none;
}

.submenu ul {
	z-index: 999;
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: left;
	list-style-type: none;
	color: #000000;
}

.submenu ul li {
	z-index: 999;
	position: relative;
	clear: both;
	height: 21px;
	line-height: 21px;
	display: block;
	margin: 0;
	border: none;
	width: 100%;
	padding-left: 4px;
	color: #000000;
}

.submunu_popup {
	line-height: 18px;
	text-align: left;
	padding: 8px;
}

.submunu_popup a {
	line-height: 18px;
}