.luntan01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #06C;
	padding-right: 10px;
	padding-left: 7px;
}

.luntan02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #670001;
	line-height: 16px;
}

.luntan03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BA7203;
	line-height: 16px;
	font-weight: bold;
}

.luntan04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 16px;
	padding-left: 5px;
}

.luntan05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B97301;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	line-height: 18px;
	padding-bottom: 10px;
}

.luntan06 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #658226;
	padding-left: 7px;
}

.luntan07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B97301;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 18px;
}

.luntan08 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;
	line-height: 16px;
	font-weight: bold;
	padding-right: 5px;
}

.luntan09 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #600;
	line-height: 16px;
	font-weight: bold;
	padding-left: 10px;
}

.luntan10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #Ff9600;
	line-height: 16px;
	font-weight: bold;
	padding-right: 5px;
}

.luntan11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #600;
	font-weight: bold;
	padding-left: 10px;
	border-left-style: solid;
	border-left-color: #C60;
	border-left-width: 1px;
	line-height: 16px;
}

.luntanTB01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding-right: 5px;
	padding-left: 25px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CD9C40;
	padding-top: 5px;
	padding-bottom: 5px;
}

.luntanTB02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding-right: 25px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CD9C40;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CD9C40;
}

.luntanTB03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BA7203;
	padding-left: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CD9C40;
	background-color: #fffaea;
}

INPUT.button01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BA7203;
	background-image: url(../images/button01.gif);
	height: 22px;
	width: 61px;
}

INPUT.button02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BA7203;
	height: 22px;
	width: 120px;
}

.wordframe01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BA7203;
	background-color: #fff;
	border: 1px solid #CD9C40;
	padding: 1px;
}

.wordframe02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BA7203;
	background-color: #fffaea;
	border: 1px solid #CD9C40;
}

.luntanTB06 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #670001;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #CCC;
	height: 25px;
}

.luntanTB07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	background-image: url(../images/in-search-bd.jpg);
	width: 110px;
	height: 19px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #06C;
	border-right-color: #06C;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #06C;
	border-left-color: #06C;
	padding-top: 2px;
	padding-left: 5px
}

.luntanTB09 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #cb9c40;
	background-repeat: repeat;
	background-color: #fffaec;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #cb9c40;
	border-bottom-color: #cb9c40;
	border-left-color: #cb9c40;
	font-weight: bold;
}

.luntanTB10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C60;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #fed891;
	height: 26px;
	border-right-width: 1px;
	border-right-color: #C60;
}

.luntanTB11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #670001;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #fed891;
	height: 26px;
}

.luntanTB12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CD9C40;
	background-color: #fffaec;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CD9C40;
}

.luntanTB14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #600;
	background-color: #fff6d9;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CD9C40;
}

.luntanTB16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	background-image: url(../images/read-bt.gif);
	width: 68px;
}

.read-frame01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #930;
	background-image: url(../images/read-02.gif);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CD9C40;
	padding-left: 10px;
}

.read-frame02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #600;
	padding-right: 15px;
	padding-left: 15px;
	background-repeat: repeat;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CD9C40;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CD9C40;
	padding-top: 5px;
	padding-bottom: 5px;
}

.read-frame03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CD9C40;
}

.read-frame04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #930;
	background-image: url(../images/read-01.gif);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CD9C40;
	padding-right: 15px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CD9C40;
}

.read-frame05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #600;
	padding-right: 5px;
	padding-left: 5px;
	background-repeat: repeat;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CD9C40;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CD9C40;
}

.listonline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	filter: progid :     DXImageTransform .     Microsoft .  
		
		 Alpha(enabled =     true, Opacity =     100, FinishOpacity =     0,
		Style =   
		 1, StartX =     100, StartY =     0, FinishX =     100, FinishY =    
		100);
	background-color: #fffaec;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #BB8C00;
	border-bottom-color: #BB8C00;
	cursor: text;
	padding-left: 10px;
}

.listbd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E9D3AD;
	padding-left: 10px;
}

.gonggao {
	width: 780px;
	border: 1px solid #C90;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

div.attachments {
	border-top: 1px solid #999999;
	margin-top: 10px;
}

div.attachments ul {
	border: 1px solid #CCCCCC;
	margin: 5px;
	padding: 5px;
	background-color: #CDC9CC;
}

.quote {
	margin: 5px;
	border: 1px solid #cccccc;
	padding: 5px;
	background: #f9f9f9;
	line-height: normal;
}

.limitinfo {
	background-color: #EDF5F9;
	border-color: #9CC3D9;
	border-style: double solid solid;
	border-width: 3px 1px 1px;
	clear: both;
	color: #00008B;
	display: inline;
	float: left;
	margin: 5px;
	overflow: hidden;
	padding: 5px 10px;
	text-align: center;
}